/* Masonry layout */
.my-masonry-grid {
   box-sizing: border-box;/* Set consistent gap between items */
  }
  
  .my-masonry-grid_column {
    display: flex;
    flex-direction: row;
  }
  
  .grid-item {
    aspect-ratio: 4 / 5; /* Adjust based on your content */
    overflow: hidden;
  }
  img, video {
    width: 100%; /* Maintain column width */
    max-height: 400px; /* Prevent extra-tall images */
    object-fit: cover; /* Crop instead of squishing */
  }
  img, video {
    width: 100%;
    max-height: 500px; /* Limit tall images */
    height: auto; /* Keep original aspect ratio */
  }
  body{
    scroll-behavior: smooth;
    overflow:scroll;
  }